<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProperty scope="context" name="ELK_HOST" source="elk.url" defaultValue="http://elk.dasalabs.com.br/_bulk"/>
    <springProperty scope="context" name="ENV_TYPE" source="env-type" defaultValue="dev"/>

    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <appender name="ELK" class="com.internetitem.logback.elasticsearch.ElasticsearchAppender">
        <url>${ELK_HOST}</url>
        <type>logs</type>
        <index>printer-core-job-${ENV_TYPE}-%d{yyyy-MM-dd}</index>
        <errorLoggerName>es</errorLoggerName>
        <properties>
            <property>
                <name>host</name>
                <value>${HOSTNAME}</value>
            </property>
            <property>
                <name>application</name>
                <value>${APP_NAME}</value>
            </property>
            <property>
                <name>severity</name>
                <value>%level</value>
            </property>
            <property>
                <name>thread</name>
                <value>%thread</value>
            </property>
            <property>
                <name>stacktrace</name>
                <value>%ex</value>
            </property>
            <property>
                <name>logger</name>
                <value>%logger{26}</value>
            </property>
        </properties>
        <headers>
            <header>
                <name>Content-Type</name>
                <value>application/json</value>
            </header>
        </headers>
    </appender>

    <logger name="com.internetitem.logback" additivity="false" level="debug">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <root level="info">
        <appender-ref ref="ELK"/>
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>